---
import Hero from '../widgets/hero/hero.astro';
import Cta from '../ui/cta/cta.astro';
import Section from '../widgets/section/section.astro';
import Card from '../ui/card/card.astro';

import { heroContent as hero } from '../content/hero';
import { getStartedSectionContent as getStartedSection } from '../content/sections';

import '../styles/main.scss';
---

<html lang="en">
  <head>
    <title>Film photography</title>
  </head>
  <body>
    <h1>Film photography</h1>
    <Hero
      title={hero.title}
      subtitle={hero.subtitle}
      description={hero.description}
      sideText={hero.sideText}
      image={hero.image}
    >
      {
        hero.cta?.map((item) => (
          <Cta slot="cta" id={item.id} text={item.text} url={item.url} kind={item.kind} />
        ))
      }
    </Hero>
    <Section
      id={getStartedSection.id}
      title={getStartedSection.title}
      step={getStartedSection.step}
      stepText={getStartedSection.stepText}
      description={getStartedSection.description}
      contentClassName="section__card-container"
    >
      {
        getStartedSection.content?.map((item) => (
          <Card
            slot="content"
            title={item.title}
            subtitle={item.subtitle}
            description={item.description}
          />
        ))
      }
    </Section>
  </body>
</html>
