---
import Hero from '../widgets/hero/hero.astro';
import { heroContent } from '../content/hero';
import '../styles/main.scss';
---

<html lang="en">
  <head>
    <title>Film photography</title>
  </head>
  <body>
    <h1>Film photography</h1>
    <Hero
      title={heroContent.title}
      description={heroContent.description}
      sideText={heroContent.sideText}
      image={heroContent.image}
      cta={heroContent.cta}
    />
  </body>
</html>
