---
import type { HeroProps } from './hero.types';
import { Image } from 'astro:assets';

const { title, description, sideText, image, subtitle } = Astro.props as HeroProps;
---

<section class="hero">
  <Image src={image.src} alt={image.alt} class="hero__background-image" />
  <div class="hero__container">
    <div class="hero__content-block">
      <h2 class="hero__subtitle">
        {subtitle}
      </h2>

      <h1 class="hero__title">
        {title}
      </h1>

      <p class="hero__description">
        {description}
      </p>

      <div class="hero__cta-container">
        <slot name="cta" />
      </div>
    </div>

    <div class="hero__side-block">
      <span>{sideText}</span>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../../styles/_mixins.scss' as *;

  .hero {
    &__background-image {
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    &__container {
      @include grid-layout(auto 23%, auto);

      position: relative;
      grid-template-areas: 'content-block side-block';
      max-width: 1200px;
      margin: 0 auto;
    }

    &__content-block {
      grid-area: 'content-block';
    }

    &__side-block {
      grid-area: 'side-block';
    }
  }
</style>
